# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
/android/app/.cxx/Debug/k303o4t5/arm64-v8a/additional_project_files.txt
/android/app/.cxx/Debug/k303o4t5/armeabi-v7a/additional_project_files.txt
/android/app/.cxx/Debug/k303o4t5/x86/additional_project_files.txt
/android/app/.cxx/Debug/k303o4t5/x86_64/additional_project_files.txt
/android/app/.cxx/Debug/k303o4t5/arm64-v8a/android_gradle_build.json
/android/app/.cxx/Debug/k303o4t5/armeabi-v7a/android_gradle_build.json
/android/app/.cxx/Debug/k303o4t5/x86/android_gradle_build.json
/android/app/.cxx/Debug/k303o4t5/x86_64/android_gradle_build.json
/android/app/.cxx/Debug/k303o4t5/arm64-v8a/android_gradle_build_mini.json
/android/app/.cxx/Debug/k303o4t5/armeabi-v7a/android_gradle_build_mini.json
/android/app/.cxx/Debug/k303o4t5/x86/android_gradle_build_mini.json
/android/app/.cxx/Debug/k303o4t5/x86_64/android_gradle_build_mini.json
/android/app/.cxx/Debug/k303o4t5/arm64-v8a/build.ninja
/android/app/.cxx/Debug/k303o4t5/armeabi-v7a/build.ninja
/android/app/.cxx/Debug/k303o4t5/x86/build.ninja
/android/app/.cxx/Debug/k303o4t5/x86_64/build.ninja
/android/app/.cxx/Debug/k303o4t5/arm64-v8a/build_file_index.txt
/android/app/.cxx/Debug/k303o4t5/armeabi-v7a/build_file_index.txt
/android/app/.cxx/Debug/k303o4t5/x86/build_file_index.txt
/android/app/.cxx/Debug/k303o4t5/x86_64/build_file_index.txt
/android/app/.cxx/Debug/k303o4t5/arm64-v8a/.cmake/api/v1/query/client-agp/cache-v2
/android/app/.cxx/Debug/k303o4t5/armeabi-v7a/.cmake/api/v1/query/client-agp/cache-v2
/android/app/.cxx/Debug/k303o4t5/x86/.cmake/api/v1/query/client-agp/cache-v2
/android/app/.cxx/Debug/k303o4t5/x86_64/.cmake/api/v1/query/client-agp/cache-v2
/android/app/.cxx/Debug/k303o4t5/armeabi-v7a/.cmake/api/v1/reply/cache-v2-1d4416225d4577a60e7c.json
/android/app/.cxx/Debug/k303o4t5/arm64-v8a/.cmake/api/v1/reply/cache-v2-63ca45e9e708a5bb54fe.json
/android/app/.cxx/Debug/k303o4t5/x86_64/.cmake/api/v1/reply/cache-v2-940d89c5e2cf2da91d49.json
/android/app/.cxx/Debug/k303o4t5/x86/.cmake/api/v1/reply/cache-v2-c881e0acef6c6cd945b3.json
/android/app/.cxx/Debug/k303o4t5/arm64-v8a/CMakeFiles/cmake.check_cache
/android/app/.cxx/Debug/k303o4t5/armeabi-v7a/CMakeFiles/cmake.check_cache
/android/app/.cxx/Debug/k303o4t5/x86/CMakeFiles/cmake.check_cache
/android/app/.cxx/Debug/k303o4t5/x86_64/CMakeFiles/cmake.check_cache
/android/app/.cxx/Debug/k303o4t5/arm64-v8a/cmake_install.cmake
/android/app/.cxx/Debug/k303o4t5/armeabi-v7a/cmake_install.cmake
/android/app/.cxx/Debug/k303o4t5/x86/cmake_install.cmake
/android/app/.cxx/Debug/k303o4t5/x86_64/cmake_install.cmake
/android/app/.cxx/Debug/k303o4t5/arm64-v8a/CMakeCache.txt
/android/app/.cxx/Debug/k303o4t5/armeabi-v7a/CMakeCache.txt
/android/app/.cxx/Debug/k303o4t5/x86/CMakeCache.txt
/android/app/.cxx/Debug/k303o4t5/x86_64/CMakeCache.txt
/android/app/.cxx/Debug/k303o4t5/arm64-v8a/CMakeFiles/3.22.1/CMakeCCompiler.cmake
/android/app/.cxx/Debug/k303o4t5/armeabi-v7a/CMakeFiles/3.22.1/CMakeCCompiler.cmake
/android/app/.cxx/Debug/k303o4t5/x86/CMakeFiles/3.22.1/CMakeCCompiler.cmake
/android/app/.cxx/Debug/k303o4t5/x86_64/CMakeFiles/3.22.1/CMakeCCompiler.cmake
/android/app/.cxx/Debug/k303o4t5/arm64-v8a/CMakeFiles/3.22.1/CompilerIdC/CMakeCCompilerId.c
/android/app/.cxx/Debug/k303o4t5/armeabi-v7a/CMakeFiles/3.22.1/CompilerIdC/CMakeCCompilerId.c
/android/app/.cxx/Debug/k303o4t5/x86/CMakeFiles/3.22.1/CompilerIdC/CMakeCCompilerId.c
/android/app/.cxx/Debug/k303o4t5/x86_64/CMakeFiles/3.22.1/CompilerIdC/CMakeCCompilerId.c
/android/app/.cxx/Debug/k303o4t5/arm64-v8a/CMakeFiles/3.22.1/CompilerIdC/CMakeCCompilerId.o
/android/app/.cxx/Debug/k303o4t5/armeabi-v7a/CMakeFiles/3.22.1/CompilerIdC/CMakeCCompilerId.o
/android/app/.cxx/Debug/k303o4t5/x86/CMakeFiles/3.22.1/CompilerIdC/CMakeCCompilerId.o
/android/app/.cxx/Debug/k303o4t5/x86_64/CMakeFiles/3.22.1/CompilerIdC/CMakeCCompilerId.o
/android/app/.cxx/Debug/k303o4t5/arm64-v8a/CMakeFiles/3.22.1/CMakeCXXCompiler.cmake
/android/app/.cxx/Debug/k303o4t5/armeabi-v7a/CMakeFiles/3.22.1/CMakeCXXCompiler.cmake
/android/app/.cxx/Debug/k303o4t5/x86/CMakeFiles/3.22.1/CMakeCXXCompiler.cmake
/android/app/.cxx/Debug/k303o4t5/x86_64/CMakeFiles/3.22.1/CMakeCXXCompiler.cmake
/android/app/.cxx/Debug/k303o4t5/arm64-v8a/CMakeFiles/3.22.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
/android/app/.cxx/Debug/k303o4t5/armeabi-v7a/CMakeFiles/3.22.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
/android/app/.cxx/Debug/k303o4t5/x86/CMakeFiles/3.22.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
/android/app/.cxx/Debug/k303o4t5/x86_64/CMakeFiles/3.22.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
/android/app/.cxx/Debug/k303o4t5/arm64-v8a/CMakeFiles/3.22.1/CompilerIdCXX/CMakeCXXCompilerId.o
/android/app/.cxx/Debug/k303o4t5/armeabi-v7a/CMakeFiles/3.22.1/CompilerIdCXX/CMakeCXXCompilerId.o
/android/app/.cxx/Debug/k303o4t5/x86/CMakeFiles/3.22.1/CompilerIdCXX/CMakeCXXCompilerId.o
/android/app/.cxx/Debug/k303o4t5/x86_64/CMakeFiles/3.22.1/CompilerIdCXX/CMakeCXXCompilerId.o
/android/app/.cxx/Debug/k303o4t5/arm64-v8a/CMakeFiles/3.22.1/CMakeDetermineCompilerABI_C.bin
/android/app/.cxx/Debug/k303o4t5/armeabi-v7a/CMakeFiles/3.22.1/CMakeDetermineCompilerABI_C.bin
/android/app/.cxx/Debug/k303o4t5/x86/CMakeFiles/3.22.1/CMakeDetermineCompilerABI_C.bin
/android/app/.cxx/Debug/k303o4t5/x86_64/CMakeFiles/3.22.1/CMakeDetermineCompilerABI_C.bin
/android/app/.cxx/Debug/k303o4t5/arm64-v8a/CMakeFiles/3.22.1/CMakeDetermineCompilerABI_CXX.bin
/android/app/.cxx/Debug/k303o4t5/armeabi-v7a/CMakeFiles/3.22.1/CMakeDetermineCompilerABI_CXX.bin
/android/app/.cxx/Debug/k303o4t5/x86/CMakeFiles/3.22.1/CMakeDetermineCompilerABI_CXX.bin
/android/app/.cxx/Debug/k303o4t5/x86_64/CMakeFiles/3.22.1/CMakeDetermineCompilerABI_CXX.bin
/android/app/.cxx/Debug/k303o4t5/arm64-v8a/.cmake/api/v1/query/client-agp/cmakeFiles-v1
/android/app/.cxx/Debug/k303o4t5/armeabi-v7a/.cmake/api/v1/query/client-agp/cmakeFiles-v1
/android/app/.cxx/Debug/k303o4t5/x86/.cmake/api/v1/query/client-agp/cmakeFiles-v1
/android/app/.cxx/Debug/k303o4t5/x86_64/.cmake/api/v1/query/client-agp/cmakeFiles-v1
/android/app/.cxx/Debug/k303o4t5/x86_64/.cmake/api/v1/reply/cmakeFiles-v1-10c1367450cc8cd54494.json
/android/app/.cxx/Debug/k303o4t5/x86/.cmake/api/v1/reply/cmakeFiles-v1-92c0ad811e8a0e878f72.json
/android/app/.cxx/Debug/k303o4t5/armeabi-v7a/.cmake/api/v1/reply/cmakeFiles-v1-6979a78a59782239a144.json
/android/app/.cxx/Debug/k303o4t5/arm64-v8a/.cmake/api/v1/reply/cmakeFiles-v1-e14e9445737b66be051b.json
/android/app/.cxx/Debug/k303o4t5/arm64-v8a/CMakeFiles/3.22.1/CMakeSystem.cmake
/android/app/.cxx/Debug/k303o4t5/armeabi-v7a/CMakeFiles/3.22.1/CMakeSystem.cmake
/android/app/.cxx/Debug/k303o4t5/x86/CMakeFiles/3.22.1/CMakeSystem.cmake
/android/app/.cxx/Debug/k303o4t5/x86_64/CMakeFiles/3.22.1/CMakeSystem.cmake
/android/app/.cxx/Debug/k303o4t5/arm64-v8a/.cmake/api/v1/query/client-agp/codemodel-v2
/android/app/.cxx/Debug/k303o4t5/armeabi-v7a/.cmake/api/v1/query/client-agp/codemodel-v2
/android/app/.cxx/Debug/k303o4t5/x86/.cmake/api/v1/query/client-agp/codemodel-v2
/android/app/.cxx/Debug/k303o4t5/x86_64/.cmake/api/v1/query/client-agp/codemodel-v2
/android/app/.cxx/Debug/k303o4t5/armeabi-v7a/.cmake/api/v1/reply/codemodel-v2-65b62d6cb03ce7466601.json
/android/app/.cxx/Debug/k303o4t5/x86/.cmake/api/v1/reply/codemodel-v2-5949cca37077ea2ae765.json
/android/app/.cxx/Debug/k303o4t5/x86_64/.cmake/api/v1/reply/codemodel-v2-94709a11f175ce3e9cfd.json
/android/app/.cxx/Debug/k303o4t5/arm64-v8a/.cmake/api/v1/reply/codemodel-v2-d986c4f70b4faeb9060a.json
/android/app/.cxx/Debug/k303o4t5/arm64-v8a/configure_fingerprint.bin
/android/app/.cxx/Debug/k303o4t5/armeabi-v7a/configure_fingerprint.bin
/android/app/.cxx/Debug/k303o4t5/x86/configure_fingerprint.bin
/android/app/.cxx/Debug/k303o4t5/x86_64/configure_fingerprint.bin
/android/app/.cxx/Debug/k303o4t5/arm64-v8a/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
/android/app/.cxx/Debug/k303o4t5/armeabi-v7a/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
/android/app/.cxx/Debug/k303o4t5/x86/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
/android/app/.cxx/Debug/k303o4t5/x86_64/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
/android/app/.cxx/Debug/k303o4t5/hash_key.txt
/android/app/.cxx/Debug/k303o4t5/x86/.cmake/api/v1/reply/index-2025-04-15T12-15-04-0780.json
/android/app/.cxx/Debug/k303o4t5/arm64-v8a/.cmake/api/v1/reply/index-2025-04-16T05-00-28-0139.json
/android/app/.cxx/Debug/k303o4t5/armeabi-v7a/.cmake/api/v1/reply/index-2025-04-16T05-00-58-0444.json
/android/app/.cxx/Debug/k303o4t5/x86_64/.cmake/api/v1/reply/index-2025-04-16T05-00-58-0947.json
/android/app/.cxx/Debug/k303o4t5/arm64-v8a/metadata_generation_command.txt
/android/app/.cxx/Debug/k303o4t5/armeabi-v7a/metadata_generation_command.txt
/android/app/.cxx/Debug/k303o4t5/x86/metadata_generation_command.txt
/android/app/.cxx/Debug/k303o4t5/x86_64/metadata_generation_command.txt
/android/app/.cxx/Debug/k303o4t5/arm64-v8a/prefab_config.json
/android/app/.cxx/Debug/k303o4t5/armeabi-v7a/prefab_config.json
/android/app/.cxx/Debug/k303o4t5/x86/prefab_config.json
/android/app/.cxx/Debug/k303o4t5/x86_64/prefab_config.json
/android/build/reports/problems/problems-report.html
/android/app/.cxx/Debug/k303o4t5/arm64-v8a/CMakeFiles/rules.ninja
/android/app/.cxx/Debug/k303o4t5/armeabi-v7a/CMakeFiles/rules.ninja
/android/app/.cxx/Debug/k303o4t5/x86/CMakeFiles/rules.ninja
/android/app/.cxx/Debug/k303o4t5/x86_64/CMakeFiles/rules.ninja
/android/app/.cxx/Debug/k303o4t5/arm64-v8a/symbol_folder_index.txt
/android/app/.cxx/Debug/k303o4t5/armeabi-v7a/symbol_folder_index.txt
/android/app/.cxx/Debug/k303o4t5/x86/symbol_folder_index.txt
/android/app/.cxx/Debug/k303o4t5/x86_64/symbol_folder_index.txt
/android/app/.cxx/Debug/k303o4t5/arm64-v8a/CMakeFiles/TargetDirectories.txt
/android/app/.cxx/Debug/k303o4t5/armeabi-v7a/CMakeFiles/TargetDirectories.txt
/android/app/.cxx/Debug/k303o4t5/x86/CMakeFiles/TargetDirectories.txt
/android/app/.cxx/Debug/k303o4t5/x86_64/CMakeFiles/TargetDirectories.txt
/android/app/.cxx/RelWithDebInfo/2t5t483i/arm64-v8a/additional_project_files.txt
/android/app/.cxx/RelWithDebInfo/2t5t483i/armeabi-v7a/additional_project_files.txt
/android/app/.cxx/RelWithDebInfo/2t5t483i/x86/additional_project_files.txt
/android/app/.cxx/RelWithDebInfo/2t5t483i/x86_64/additional_project_files.txt
/android/app/.cxx/RelWithDebInfo/2t5t483i/arm64-v8a/android_gradle_build.json
/android/app/.cxx/RelWithDebInfo/2t5t483i/armeabi-v7a/android_gradle_build.json
/android/app/.cxx/RelWithDebInfo/2t5t483i/x86/android_gradle_build.json
/android/app/.cxx/RelWithDebInfo/2t5t483i/x86_64/android_gradle_build.json
/android/app/.cxx/RelWithDebInfo/2t5t483i/arm64-v8a/android_gradle_build_mini.json
/android/app/.cxx/RelWithDebInfo/2t5t483i/armeabi-v7a/android_gradle_build_mini.json
/android/app/.cxx/RelWithDebInfo/2t5t483i/x86/android_gradle_build_mini.json
/android/app/.cxx/RelWithDebInfo/2t5t483i/x86_64/android_gradle_build_mini.json
/android/app/.cxx/RelWithDebInfo/2t5t483i/arm64-v8a/build.ninja
/android/app/.cxx/RelWithDebInfo/2t5t483i/armeabi-v7a/build.ninja
/android/app/.cxx/RelWithDebInfo/2t5t483i/x86/build.ninja
/android/app/.cxx/RelWithDebInfo/2t5t483i/x86_64/build.ninja
/android/app/.cxx/RelWithDebInfo/2t5t483i/arm64-v8a/build_file_index.txt
/android/app/.cxx/RelWithDebInfo/2t5t483i/armeabi-v7a/build_file_index.txt
/android/app/.cxx/RelWithDebInfo/2t5t483i/x86/build_file_index.txt
/android/app/.cxx/RelWithDebInfo/2t5t483i/x86_64/build_file_index.txt
/android/app/.cxx/RelWithDebInfo/2t5t483i/arm64-v8a/.cmake/api/v1/query/client-agp/cache-v2
/android/app/.cxx/RelWithDebInfo/2t5t483i/armeabi-v7a/.cmake/api/v1/query/client-agp/cache-v2
/android/app/.cxx/RelWithDebInfo/2t5t483i/x86/.cmake/api/v1/query/client-agp/cache-v2
/android/app/.cxx/RelWithDebInfo/2t5t483i/x86_64/.cmake/api/v1/query/client-agp/cache-v2
/android/app/.cxx/RelWithDebInfo/2t5t483i/x86/.cmake/api/v1/reply/cache-v2-2af5ad11cead04e488e2.json
/android/app/.cxx/RelWithDebInfo/2t5t483i/arm64-v8a/.cmake/api/v1/reply/cache-v2-5fbbdbbef2a4911a916b.json
/android/app/.cxx/RelWithDebInfo/2t5t483i/armeabi-v7a/.cmake/api/v1/reply/cache-v2-25a1d1dd73797dc953af.json
/android/app/.cxx/RelWithDebInfo/2t5t483i/x86_64/.cmake/api/v1/reply/cache-v2-63a891006e6bd6eabe2c.json
/android/app/.cxx/RelWithDebInfo/2t5t483i/arm64-v8a/CMakeFiles/cmake.check_cache
/android/app/.cxx/RelWithDebInfo/2t5t483i/armeabi-v7a/CMakeFiles/cmake.check_cache
/android/app/.cxx/RelWithDebInfo/2t5t483i/x86/CMakeFiles/cmake.check_cache
/android/app/.cxx/RelWithDebInfo/2t5t483i/x86_64/CMakeFiles/cmake.check_cache
/android/app/.cxx/RelWithDebInfo/2t5t483i/arm64-v8a/cmake_install.cmake
/android/app/.cxx/RelWithDebInfo/2t5t483i/armeabi-v7a/cmake_install.cmake
/android/app/.cxx/RelWithDebInfo/2t5t483i/x86/cmake_install.cmake
/android/app/.cxx/RelWithDebInfo/2t5t483i/x86_64/cmake_install.cmake
/android/app/.cxx/RelWithDebInfo/2t5t483i/arm64-v8a/CMakeCache.txt
/android/app/.cxx/RelWithDebInfo/2t5t483i/armeabi-v7a/CMakeCache.txt
/android/app/.cxx/RelWithDebInfo/2t5t483i/x86/CMakeCache.txt
/android/app/.cxx/RelWithDebInfo/2t5t483i/x86_64/CMakeCache.txt
/android/app/.cxx/RelWithDebInfo/2t5t483i/arm64-v8a/CMakeFiles/3.22.1/CMakeCCompiler.cmake
/android/app/.cxx/RelWithDebInfo/2t5t483i/armeabi-v7a/CMakeFiles/3.22.1/CMakeCCompiler.cmake
/android/app/.cxx/RelWithDebInfo/2t5t483i/x86/CMakeFiles/3.22.1/CMakeCCompiler.cmake
/android/app/.cxx/RelWithDebInfo/2t5t483i/x86_64/CMakeFiles/3.22.1/CMakeCCompiler.cmake
/android/app/.cxx/RelWithDebInfo/2t5t483i/arm64-v8a/CMakeFiles/3.22.1/CompilerIdC/CMakeCCompilerId.c
/android/app/.cxx/RelWithDebInfo/2t5t483i/armeabi-v7a/CMakeFiles/3.22.1/CompilerIdC/CMakeCCompilerId.c
/android/app/.cxx/RelWithDebInfo/2t5t483i/x86/CMakeFiles/3.22.1/CompilerIdC/CMakeCCompilerId.c
/android/app/.cxx/RelWithDebInfo/2t5t483i/x86_64/CMakeFiles/3.22.1/CompilerIdC/CMakeCCompilerId.c
/android/app/.cxx/RelWithDebInfo/2t5t483i/arm64-v8a/CMakeFiles/3.22.1/CompilerIdC/CMakeCCompilerId.o
/android/app/.cxx/RelWithDebInfo/2t5t483i/armeabi-v7a/CMakeFiles/3.22.1/CompilerIdC/CMakeCCompilerId.o
/android/app/.cxx/RelWithDebInfo/2t5t483i/x86/CMakeFiles/3.22.1/CompilerIdC/CMakeCCompilerId.o
/android/app/.cxx/RelWithDebInfo/2t5t483i/x86_64/CMakeFiles/3.22.1/CompilerIdC/CMakeCCompilerId.o
/android/app/.cxx/RelWithDebInfo/2t5t483i/arm64-v8a/CMakeFiles/3.22.1/CMakeCXXCompiler.cmake
/android/app/.cxx/RelWithDebInfo/2t5t483i/armeabi-v7a/CMakeFiles/3.22.1/CMakeCXXCompiler.cmake
/android/app/.cxx/RelWithDebInfo/2t5t483i/x86/CMakeFiles/3.22.1/CMakeCXXCompiler.cmake
/android/app/.cxx/RelWithDebInfo/2t5t483i/x86_64/CMakeFiles/3.22.1/CMakeCXXCompiler.cmake
/android/app/.cxx/RelWithDebInfo/2t5t483i/arm64-v8a/CMakeFiles/3.22.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
/android/app/.cxx/RelWithDebInfo/2t5t483i/armeabi-v7a/CMakeFiles/3.22.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
/android/app/.cxx/RelWithDebInfo/2t5t483i/x86/CMakeFiles/3.22.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
/android/app/.cxx/RelWithDebInfo/2t5t483i/x86_64/CMakeFiles/3.22.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
/android/app/.cxx/RelWithDebInfo/2t5t483i/arm64-v8a/CMakeFiles/3.22.1/CompilerIdCXX/CMakeCXXCompilerId.o
/android/app/.cxx/RelWithDebInfo/2t5t483i/armeabi-v7a/CMakeFiles/3.22.1/CompilerIdCXX/CMakeCXXCompilerId.o
/android/app/.cxx/RelWithDebInfo/2t5t483i/x86/CMakeFiles/3.22.1/CompilerIdCXX/CMakeCXXCompilerId.o
/android/app/.cxx/RelWithDebInfo/2t5t483i/x86_64/CMakeFiles/3.22.1/CompilerIdCXX/CMakeCXXCompilerId.o
/android/app/.cxx/RelWithDebInfo/2t5t483i/arm64-v8a/CMakeFiles/3.22.1/CMakeDetermineCompilerABI_C.bin
/android/app/.cxx/RelWithDebInfo/2t5t483i/armeabi-v7a/CMakeFiles/3.22.1/CMakeDetermineCompilerABI_C.bin
/android/app/.cxx/RelWithDebInfo/2t5t483i/x86/CMakeFiles/3.22.1/CMakeDetermineCompilerABI_C.bin
/android/app/.cxx/RelWithDebInfo/2t5t483i/x86_64/CMakeFiles/3.22.1/CMakeDetermineCompilerABI_C.bin
/android/app/.cxx/RelWithDebInfo/2t5t483i/arm64-v8a/CMakeFiles/3.22.1/CMakeDetermineCompilerABI_CXX.bin
/android/app/.cxx/RelWithDebInfo/2t5t483i/armeabi-v7a/CMakeFiles/3.22.1/CMakeDetermineCompilerABI_CXX.bin
/android/app/.cxx/RelWithDebInfo/2t5t483i/x86/CMakeFiles/3.22.1/CMakeDetermineCompilerABI_CXX.bin
/android/app/.cxx/RelWithDebInfo/2t5t483i/x86_64/CMakeFiles/3.22.1/CMakeDetermineCompilerABI_CXX.bin
/android/app/.cxx/RelWithDebInfo/2t5t483i/arm64-v8a/.cmake/api/v1/query/client-agp/cmakeFiles-v1
/android/app/.cxx/RelWithDebInfo/2t5t483i/armeabi-v7a/.cmake/api/v1/query/client-agp/cmakeFiles-v1
/android/app/.cxx/RelWithDebInfo/2t5t483i/x86/.cmake/api/v1/query/client-agp/cmakeFiles-v1
/android/app/.cxx/RelWithDebInfo/2t5t483i/x86_64/.cmake/api/v1/query/client-agp/cmakeFiles-v1
/android/app/.cxx/RelWithDebInfo/2t5t483i/x86/.cmake/api/v1/reply/cmakeFiles-v1-2b3e0a0af8530a8f776e.json
/android/app/.cxx/RelWithDebInfo/2t5t483i/armeabi-v7a/.cmake/api/v1/reply/cmakeFiles-v1-1646874692fec284cc00.json
/android/app/.cxx/RelWithDebInfo/2t5t483i/arm64-v8a/.cmake/api/v1/reply/cmakeFiles-v1-c3faf37e4d9b89ca459c.json
/android/app/.cxx/RelWithDebInfo/2t5t483i/x86_64/.cmake/api/v1/reply/cmakeFiles-v1-cd8ad0e005ee2d408a3a.json
/android/app/.cxx/RelWithDebInfo/2t5t483i/arm64-v8a/CMakeFiles/3.22.1/CMakeSystem.cmake
/android/app/.cxx/RelWithDebInfo/2t5t483i/armeabi-v7a/CMakeFiles/3.22.1/CMakeSystem.cmake
/android/app/.cxx/RelWithDebInfo/2t5t483i/x86/CMakeFiles/3.22.1/CMakeSystem.cmake
/android/app/.cxx/RelWithDebInfo/2t5t483i/x86_64/CMakeFiles/3.22.1/CMakeSystem.cmake
/android/app/.cxx/RelWithDebInfo/2t5t483i/arm64-v8a/.cmake/api/v1/query/client-agp/codemodel-v2
/android/app/.cxx/RelWithDebInfo/2t5t483i/armeabi-v7a/.cmake/api/v1/query/client-agp/codemodel-v2
/android/app/.cxx/RelWithDebInfo/2t5t483i/x86/.cmake/api/v1/query/client-agp/codemodel-v2
/android/app/.cxx/RelWithDebInfo/2t5t483i/x86_64/.cmake/api/v1/query/client-agp/codemodel-v2
/android/app/.cxx/RelWithDebInfo/2t5t483i/armeabi-v7a/.cmake/api/v1/reply/codemodel-v2-15a263f5a4ca7c46f185.json
/android/app/.cxx/RelWithDebInfo/2t5t483i/x86_64/.cmake/api/v1/reply/codemodel-v2-c9987a0dab89a561cec8.json
/android/app/.cxx/RelWithDebInfo/2t5t483i/arm64-v8a/.cmake/api/v1/reply/codemodel-v2-ea17064a242311511e7b.json
/android/app/.cxx/RelWithDebInfo/2t5t483i/x86/.cmake/api/v1/reply/codemodel-v2-eeb1fffb26785c2375e7.json
/android/app/.cxx/RelWithDebInfo/2t5t483i/arm64-v8a/configure_fingerprint.bin
/android/app/.cxx/RelWithDebInfo/2t5t483i/armeabi-v7a/configure_fingerprint.bin
/android/app/.cxx/RelWithDebInfo/2t5t483i/x86/configure_fingerprint.bin
/android/app/.cxx/RelWithDebInfo/2t5t483i/x86_64/configure_fingerprint.bin
/devtools_options.yaml
/android/app/.cxx/RelWithDebInfo/2t5t483i/arm64-v8a/.cmake/api/v1/reply/directory-.-RelWithDebInfo-f5ebdc15457944623624.json
/android/app/.cxx/RelWithDebInfo/2t5t483i/armeabi-v7a/.cmake/api/v1/reply/directory-.-RelWithDebInfo-f5ebdc15457944623624.json
/android/app/.cxx/RelWithDebInfo/2t5t483i/x86/.cmake/api/v1/reply/directory-.-RelWithDebInfo-f5ebdc15457944623624.json
/android/app/.cxx/RelWithDebInfo/2t5t483i/x86_64/.cmake/api/v1/reply/directory-.-RelWithDebInfo-f5ebdc15457944623624.json
/.vscode/extensions.json
/android/app/.cxx/RelWithDebInfo/2t5t483i/hash_key.txt
/android/app/.cxx/RelWithDebInfo/2t5t483i/arm64-v8a/.cmake/api/v1/reply/index-2025-04-18T04-55-12-0406.json
/android/app/.cxx/RelWithDebInfo/2t5t483i/armeabi-v7a/.cmake/api/v1/reply/index-2025-04-18T04-55-12-0679.json
/android/app/.cxx/RelWithDebInfo/2t5t483i/x86/.cmake/api/v1/reply/index-2025-04-18T04-55-12-0926.json
/android/app/.cxx/RelWithDebInfo/2t5t483i/x86_64/.cmake/api/v1/reply/index-2025-04-18T04-55-13-0170.json
/android/app/.cxx/RelWithDebInfo/2t5t483i/arm64-v8a/metadata_generation_command.txt
/android/app/.cxx/RelWithDebInfo/2t5t483i/armeabi-v7a/metadata_generation_command.txt
/android/app/.cxx/RelWithDebInfo/2t5t483i/x86/metadata_generation_command.txt
/android/app/.cxx/RelWithDebInfo/2t5t483i/x86_64/metadata_generation_command.txt
/android/app/.cxx/RelWithDebInfo/2t5t483i/arm64-v8a/prefab_config.json
/android/app/.cxx/RelWithDebInfo/2t5t483i/armeabi-v7a/prefab_config.json
/android/app/.cxx/RelWithDebInfo/2t5t483i/x86/prefab_config.json
/android/app/.cxx/RelWithDebInfo/2t5t483i/x86_64/prefab_config.json
/android/app/.cxx/RelWithDebInfo/2t5t483i/arm64-v8a/CMakeFiles/rules.ninja
/android/app/.cxx/RelWithDebInfo/2t5t483i/armeabi-v7a/CMakeFiles/rules.ninja
/android/app/.cxx/RelWithDebInfo/2t5t483i/x86/CMakeFiles/rules.ninja
/android/app/.cxx/RelWithDebInfo/2t5t483i/x86_64/CMakeFiles/rules.ninja
/.vscode/settings.json
/android/app/.cxx/RelWithDebInfo/2t5t483i/arm64-v8a/symbol_folder_index.txt
/android/app/.cxx/RelWithDebInfo/2t5t483i/armeabi-v7a/symbol_folder_index.txt
/android/app/.cxx/RelWithDebInfo/2t5t483i/x86/symbol_folder_index.txt
/android/app/.cxx/RelWithDebInfo/2t5t483i/x86_64/symbol_folder_index.txt
/android/app/.cxx/RelWithDebInfo/2t5t483i/arm64-v8a/CMakeFiles/TargetDirectories.txt
/android/app/.cxx/RelWithDebInfo/2t5t483i/armeabi-v7a/CMakeFiles/TargetDirectories.txt
/android/app/.cxx/RelWithDebInfo/2t5t483i/x86/CMakeFiles/TargetDirectories.txt
/android/app/.cxx/RelWithDebInfo/2t5t483i/x86_64/CMakeFiles/TargetDirectories.txt
/lib/data/models/user/user.freezed.dart
/lib/data/models/user/user.g.dart
